<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcq9_i4IYZ4UwtOGO_mH-LJUtL0Q6mUtY</string>
	<key>GCM_SENDER_ID</key>
	<string>960734061943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coinverse</string>
	<key>PROJECT_ID</key>
	<string>coinverse-7bf00</string>
	<key>STORAGE_BUCKET</key>
	<string>coinverse-7bf00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960734061943:ios:317ac6cf2a68ba0a54ad72</string>
</dict>
</plist>